#  1.2 OLAP Functions

In dieser Übung kannst du folgende OLAP functions üben...
+ Slicing
+ Dicing
+ Pivoting
+ Drill-down

<div class="alert alert-block alert-info">
<font size="3"><b>Recap:</b></font> OLAP is a category of software technology that enables users to analyze data from multiple perspectives and dimensions. Instead of looking at individual transactions, OLAP tools help users summarize, group, filter, and explore data to uncover trends, patterns, and insights. This is particularly useful in domains such as business intelligence, financial reporting, and sales analysis.
</div>
<br>

Before we start, we load the housing data set from sklearn and pandas, a library specifically for data manipulation (and analysis).
<br>
If you haven't installed sklearn yet type into your anaconda shell  ``conda install conda-forge::scikit-learn``
<br>
The dataset contains the following values:

    - MedInc        median income in block group
    - HouseAge      median house age in block group
    - AveRooms      average number of rooms per household
    - AveBedrms     average number of bedrooms per household
    - Population    block group population
    - AveOccup      average number of household members
    - Latitude      block group latitude
    - Longitude     block group longitude
    - MedHouseVal   median house value in block group

Also, the dataset covers more than 20.000 residental blocks! Let's see if we can trim that down to a meaningful number of blocks.

In [60]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
import matplotlib.pyplot as plt 

housing = fetch_california_housing(as_frame=True)
df = housing.frame
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

#### Slicing
Lets start by looking at the very first block in our dataset!

We want to find out where the high income residents of this city live.
<br>
Which slice of our data set should we look at to find out?

In addition, we are only interested in apartment blocks with high house values (>4.0).
<br>
How do you cut the remaining blocks with lower house values?

#### Dicing:
Now, we want to see which blocks are at risk of upcoming gentrification.
<br>
It seems that blocks with relativly high income, young resident age (but no kids!) and low house values are often at risk of gentrification. Find those blocks!

#### Pivoting:
Let's rearrange the data table so we can grasp it a bit better.
<br>
First create two new grouping variables:
1) 'IncomeLevel': Group 'MedInc' with the bins [0, 2, 4, 6, 10] and the labels ['Low', 'Medium', 'High', 'Very High']
2) 'OceanProximity': Group 'Latitude' with the bins [32, 34, 36, 38, 42] and the labels ['Near', 'Coastal', 'Inland', 'Far']
Have a look at your new dataframe!
<br>
Second, create a pivot table with 'OceanProximity' levels as columns, 'IncomeLevel' as rows, and 'MedHouseVal' as cell values.

#### Drill-Down:
We can look at our data at different "resolutions". The highest resolution means we are looking at every individual data point. But we can aggregate data, especially along hierarchical grouping variables.
<br>
Lets start by adding 'Regions', 'Zones' and 'District'.

Let's drill down along the hierachie of our new variables!
<br>
Use the ``.groupby`` of pandas to inspect the average house values in the two regions.
<br>
Then take additionally the West-East factor into account.
<br>
Finally, find the 3 'Districts' for each 'Zone' with the highest average house values.